@font-face {
    src: url("assets/BlackMango-Light.otf") format("opentype");
    font-family: "BlackMango-Light";
    src: url("assets/BlackMango-Bold.otf") format("opentype");
    font-family: "BlackMango-Bold";
    font-family: 'Montserrat', sans-serif;
  }

*{
    margin: 0;
}

.top-home{
    height: 100vh;
    padding: 20px;
    position:relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
    background: radial-gradient(#DDC7BE, #FFFFFF);
}
.top-home h1{
    font-family: 'BlackMango-Bold';
    font-size: 7rem;
    color: #000000;
    text-align: center;
  }

.top-home h2{
    font-family: 'Montserrat';
    font-weight: 300;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 10px;

    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: 
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@media (max-width: 768px) {
    .centered-heading {
        font-size: 1.5rem;
    }
    .centered-subheading {
        font-size: 1.2rem;
    }
}

.top-home .scroll-down-home{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    background: transparent;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

.about-home{
    padding: 20px !important;
    margin: 20px !important;
    overflow: hidden;
}

.subtitles{
    font-family: 'BlackMango-Bold';
    font-size: 2rem;
    width: 50%;
    margin-left: 1rem;
}

img.mypfp {
    width: 400px;
    height: auto;
}

.about-me-exrt{
    font-family: 'Montserrat';
    font-weight: 300;
    line-height: 40px;
}
/* --- WORK SECTION ---- */

.work-home{
    overflow: hidden;
    align-items: center;
    padding: 20px;
    margin: 20px;
}

.work-exrt{
    padding: 1rem;
    font-family: 'Montserrat';
    font-weight: 300;
 }

.work-container{
    perspective: 800px;
}

.work-card {
    width: 300px;
    height: 500px;
    position: relative;
    margin:10px 40px 30px;
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.35) !important;
    border-radius: 2rem !important;
    transition: transform 1500ms;
    transform-style: preserve-3d;
  }

.card-inner{
    height: 100%;
    width: 100%;
    position: relative;
    transform-style: preserve-3d;
}

.work-body .front,
.work-body .back {
  height: 100%;
  width: 100%;
  border-radius: 2rem;
  position: absolute;
  backface-visibility: hidden;
}

.work-body .front{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0rem;
}

.work-body .front h1{
    font-family: 'Montserrat';
    font-weight: bold;
    text-align: center;
    font-size: 1.15rem;
	color: black;
}

.work-body .front p{
    font-family: 'Montserrat';
    text-align: center;
    font-size: 1rem;
    font-weight: 300;
	color: black;
    line-height: 40px;
    padding: 10%;
}

.work-body .back{
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0rem;
}

.work-body .back p{
    font-family: 'Montserrat';
    font-weight: 300;
    line-height: 30px;
    text-align: center;
    font-size: 1rem;
	color: black;
	margin:0;
    padding: 10%;
}

.work-card:hover {
    transform: rotateY(180deg);
 }

 /* --- PROJECTS SECTION ---- */

.about-projects{
    padding: 20px !important;
    margin: 20px !important;
    overflow: hidden;
}

.carousel-control-prev{
    transform: scaleX(-1);
  }

.cards-wrapper {
    display: flex;
    justify-content: center;
}
  
.card {
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    border-radius: 10px 10px !important;
    background-color: #C4A092 !important;
  }

.card img {
    max-width: 100%;
    max-height: 100%;
    padding: 5px;
    border-radius: 10px 10px !important;

  }

.card-title{
    font-family: 'Montserrat';
    font-weight: bold;
    text-align: center;
  }

.card-text{
    font-family: 'Montserrat';
    font-weight: 300;
    text-align: center;
}

.card-btn {
    display: center !important;
}

@media (min-width: 768px) {
    .card img {
      height: 11em;
    }
  }

  .card-btn {
    align-items: center;
    background-color: #E2D1CB;
    border-radius: 24px;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #3c4043;
    cursor: pointer;
    display: inline-flex;
    font-size: 14px;
    font-family: 'Montserrat';
    height: 48px;
    letter-spacing: .25px;
    max-width: 100%;
    overflow: visible;
    padding: 2px 24px;
  }
  
  .card-btn:hover {
    background: #F6F9FE;
    color: #AF816E;
  }
  
  .card-btn:active {
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
    outline: none;
  }
  
  .card-btn:focus {
    outline: none;
    border: 2px solid #AF816E;
  }
  
/* --- FOOTER --- */
.footer {
  padding:30px 0;
  font-family: 'Montserrat';
  background-color:#DAC6BE;
}

.footer .item.social {
  text-align:center;
}

@media (max-width:991px) {
  .footer .item.social {
    text-align:center;
    margin-top:10px;
  }
}

.footer .item.social > a {
  font-size:25px;
  line-height:36px;
  display:inline;
  text-align:center;
  margin:0 8px;
  color:#000000;
  opacity:0.75;
}

.footer .p {
  text-align:center;
  opacity:0.3;
  font-size:10px;
  margin-bottom:0;
  opacity:0.75;
}

.footer .advant{
  opacity:0;
}